rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /site_content/{document} {
      allow read: if true;
      allow create, update: if request.auth != null
        && request.auth.token.email == "sdnrcyln2@gmail.com";
      allow delete: if false;
    }
  }
}
